.divAllCategories {
    width: 50%;
    height: auto;
    margin: auto;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} 

.buttonFormCategoria {
    width: 15%;
    margin-bottom: 25px;
}