.tarefa {
    margin: auto;
    text-align: left;
    padding: 0.2em;
    width: 60%;
    color: black;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 0px;
    margin-bottom: 1em;
    transition: all 0.5s;
}

.tarefa:hover {
    bottom: 5px;
    width: 61%;
}

.icone {
    margin-bottom: 0;
    transition: all 0.5s;
}

.icone:hover {
    margin-bottom: 10px;
}
