.divCriarCategoria {
    margin: auto;
    width: 30%;
    background-color: #2a2e42;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.418);
}

.inputTextCriarCategoria {
    width: 50%;
    margin: auto;
    margin-bottom: 15px;
}

.divButtons {
    margin: auto;
    width: 90%;
}